body{
  height: 3000px;
}

div{
  /* width: 200px; */
  height: 200px;
  background-color: orange;
  background-image: url("https://heropy.blog/css/images/logo.png");
  background-size: cover;
  background-repeat: no-repeat; /* 반복 x */
  background-position: center; /* 중앙 배치 */
  background-attachment: fixed;
}